body {
    background-color: lavender;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

header {
    width: 75%;
    height: 150px;
    background-color: skyblue;
    background-image: url("images/ghibli-logo.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    text-align: right;
    align-self: center;
}


.test-img {
    display: none;
}

section {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#reviews {
    display: block;
}

@media screen and (max-width: 500px) {
    #reviews {
        display: none;
    }
}