body {
    background-color: rgb(230, 230, 250);
    font-family: monospace;
}

header img {
    height: 100%;
}

header {
    width: 75%;
    background-color: skyblue;
}

@media (max-width: 500px) { #reviews { display: none;}}

.user-review ul li {
    font-weight: bold;
}

